{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>OpenMatchroom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="OpenMatchroom — live football match-center" />
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
</head>
<body class="{% block bodyclass %}{% endblock bodyclass %}">
{% block content %}
{% endblock content %}
</body>
</html>
